.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

.map-container {
    position: relative;
   
}
.map{
    filter: grayscale(100%) !important;
}
.map-content-container {
    border: 1px solid black !important;
    background: rgb(255, 104, 104);
    background: linear-gradient(180deg, rgba(248, 187, 187, 0.642) 0%, rgba(255, 255, 255, 0.8519782913165266) 90%);
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 3 !important;
}
.map-card{
    background: white ;
}